<div class="page-wrapper sign-up-image fix-height">
  <div class="form-container sign-up">
    <h2 class="title is-3">Edit <%= resource_name.to_s.humanize %></h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded has-icons-left">
              <%= f.input_field :fullname, class: 'input is-small', placeholder: 'Full Name' %>
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
              <%= render  partial: "error_handler", locals: { source: :fullname } %>
            </p>
          </div>
          <div class="field">
            <p class="control is-expanded has-icons-left">
              <%= f.input_field :email, class: 'input is-small', placeholder: 'example@hotmail.com' %>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <%= render partial: "error_handler", locals: { source: :email } %>
            </p>
          </div>
        </div>
      </div>

      <div class="field radio-group">
        <%= f.input :gender, as: :radio_buttons, collection: [['male', 'male'], ['female', 'female']], checked: ['male', 'male'], class: 'input' %>
        <%= render partial: "error_handler", locals: { source: :gender } %>
      </div>

      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded">
              <%= f.input_field :username, class: 'input is-small', placeholder: 'Username' %>
              <%= render  partial: "error_handler", locals: { source: :username } %>
            </p>
          </div>
          <div class="field">
            <p class="control is-expanded">
              <%= f.input_field :profession, class: 'input is-small', placeholder: 'Profession' %>
              <%= render partial: "error_handler", locals: { source: :profession } %>
            </p>
          </div>
          <div class="field">
            <p class="control is-expanded">
              <%= f.input_field :city, class: 'input is-small', placeholder: 'City' %>
              <%= render partial: "error_handler", locals: { source: :city } %>
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field">
            <div class="control">
              <%= f.text_area :bio, class: 'textarea is-small', as: :text, :input_html => { :cols => 5, :rows => 10 }, placeholder: 'Bio: I\'m nice guy invite me to have fun' %>
              <%= render partial: "error_handler", locals: { source: :bio } %>
            </div>
          </div>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password, class: 'label' %> <i>(leave blank if you don't want to change it)
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <div class="control has-icons-left">
          <%= f.password_field :password, autocomplete: "new-password", class: 'input is-small' %>
          <%= render  partial: "error_handler", locals: { source: :password } %>
          <span class="icon is-small is-left">
            <i class="fas fa-key"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: 'label' %>
        <div class="control has-icons-left">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input is-small' %>
          <%= render  partial: "error_handler", locals: { source: :password_confirmation } %>
          <span class="icon is-small is-left">
            <i class="fas fa-key"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <%= f.label :current_password, class: 'label' %><i>(we need your current password to confirm your changes)</i>
        <div class="control has-icons-left">
          <%= f.password_field :current_password, autocomplete: "current-password", class: 'input is-small' %>
          <%= render  partial: "error_handler", locals: { source: :current_password } %>
          <span class="icon is-small is-left">
            <i class="fas fa-key"></i>
          </span>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: 'button is-base' %>
      </div>

      <h3>Cancel my account</h3>

    <% end %>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'button is-danger is-small' %></p>

    <%= link_to "Back", :back, class: 'button is-link is-small' %>
  </div>
</div>
