<div class="comment-container">
  <div class="comment">
    <div class="user-avatar">
      <%= link_to user_path(comment.user) do %>
        <%= render partial: 'user_image', locals: { user: comment.user } %>
      <% end %>
    </div>
    <div class="comment-body">
      <div class="flex">
        <%# FIX: this should be changed to a link that get the user page %>
        <span class='user-name'><%= comment.user.username %></span>
        <%= comment.text %>
      </div>
    </div>
  </div>
  <div class="comment-action">
    <% if comment.user == current_user %>
      <%= link_to  '<i class="fa fa-trash"></i>'.html_safe, post_comment_path(post ,comment), method: :delete %>
    <% end %>
    <span class="comment-date"><%= time_ago_in_words(comment.created_at) %>, ago</span>
  </div>
</div>