<h2 class="title is-2 has-text-base has-text-centered">Friends sugestions</h2>
<% @non_friends.filter{ |friend| !current_user.pending_friends.include?(friend) && !current_user.friend_requests.include?(friend) }.each do |friend| %>
  <div class= "suggested-friend">
    <div class="suggested-friend-image">
      <% if friend.avatar.attached?  %>
        <%= image_tag friend.avatar, class: "profile-image" %>  
      <% else %>
        <%#=  FIX: this should be fixed to select images based on gender %>
        <%= image_tag('male_profile_pic.jpg', class: 'profile-image') %>
      <% end %>
    </div>
    <div class="user-info">
      <p class="username"><%= friend.username %></p>
      <p>Joined: <%= time_ago_in_words(friend.created_at) %></p>
      <p>
        <%= link_to "Add Friend", friendships_path(user_id: current_user.id ,friend_id: friend.id), method: :post %>
      </p>
    </div>
  </div>
<% end %>
