<main class="main-container">
  <div class="columns column-style">
    <div class="column is-one-fifth">
      <%= render 'users/user_profile' %>
      <div class= "box">
        <h2 class="title is-3 ">Friend Requests</h2>
        <% current_user.friend_requests.each do |f| %>
          <div>
            <span><%= f.username %></span>
            <span><%= link_to "Accept Invitation", confirm_friend_path(friend_id: f.id), method: :post%></span>
          </div>
        <% end %>
      </div>
    </div>
    <div class= "column is-three-fifths">
      <h2 class="title is-2 has-text-base has-text-centered">Friends sugestions</h2>
      <% @non_friends.each do |friend| %>
      <div class= "suggested-friend">
          <div class="suggested-friend-image">
            <% if friend.avatar.attached?  %>
              <%= image_tag friend.avatar, class: "" %>  
            <% else %>
              <%#=  FIX: this should be fixed to select images based on gender %> 
              <%= image_tag('male_profile_pic.jpg', class: 'profile-image') %>
            <% end %>
          </div>
          <div class="">
            <p><%= friend.username %></p>
            <p>Joined: <%= time_ago_in_words(friend.created_at) %></p>
            <p>
              <% unless current_user.pending_friends.include?(friend)%>  
                  <%= link_to "Send invitation", friendships_path(user_id: current_user.id ,friend_id: friend.id), method: :post %>
              <% else %>
                  Pending response
              <% end %>
            </p>
          </div>
      </div>
      <% end %>
    </div>
      <div class="column is-one-fifth has-text-centered padding-rigth">
        <div class="box">
          <h2 class="title is-4 has-text-base"> About bookclone </h2>
          <span> 
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint, sequi. 
          </span>
        </div>
    </div>
  </div>
</main>


    


