<div class="columns is-centered column-style">
  <div class="column is-one-fifth mt">
    <%= render 'user_profile' %>
  </div>
  <div class= "column is-three-fifths">
    <h1 class="title is-3 has-text-base has-text-centered">Friend Requests</h2>
    <div class="requests-container">
      <% if current_user.friend_requests.empty? %>
        <p class="note">there is no new friend request try to be more active to connect to more people</p>
      <% else %>
        <% current_user.friend_requests.each do |friend| %>
          <div class="request">
            <%= link_to user_path(friend) do %>
              <div class="user-image">
                <%= render partial: 'user_image', locals: { user: friend } %>
              </div>
            <% end %>
            <div class="user-info">
              <span class="name"><%= friend.fullname %></span>
              <span class="username">@<%= friend.username %></span>
              <div class="buttons">
                <%= link_to "Accept", confirm_friend_path(friend_id: friend.id), method: :post,class: 'button is-small is-base' %>
                <%= link_to "Decline", friendship_path(friend), method: :post, method: :delete, class: 'button is-small is-out-base' %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="column is-one-fifth mt has-text-centered padding-rigth">
    <%= render 'side_bar' %>
  </div>
</div>