<h1 class="title is-3 has-text-base has-text-centered">Friend Requests</h2>
<div class="requests-container">
  <% current_user.friend_requests.each do |friend| %>
  <div class="request">
    <div class="user-image">
      <% if friend.avatar.attached? %>
        <%= image_tag friend.avatar, class: 'profile-image' %>
      <% else %>
        <%= image_tag 'male_profile_pic', class: 'profile-image' %>
      <% end %>
    </div>
    <div class="user-info">
      <span class="username"><%= friend.username %></span>
      <div class="buttons">
        <%= link_to "Accept", confirm_friend_path(friend_id: friend.id), method: :post,class: 'button is-small is-base' %>
        <%= link_to "Decline", friendship_path(friend), method: :post, method: :delete, class: 'button is-small is-out-base' %>
      </div>
    </div>
  </div>
<% end %>
</div>