<div id="avatar-modal" class="modal">
  <div id="avatar-modal-background" class="modal-background"></div>
  <div class="modal-content avatar-edit-form">
    <h1 class="title is-3">Update Avatar</h1>

    <%= simple_form_for @user, url: update_avatar_path do |f| %>
      <div class="update-image">
        <%= render partial: 'user_image', locals: { user: current_user } %>
      </div>
      <div id="image-upload-js-3" class="file has-name">
        <label class="file-label">
          <%= f.file_field :avatar, class: 'file-input' %>
          <span class="file-cta">
            <span class="file-icon">
              <i class="fa fa-image"></i>
            </span>
            <span class="file-name has-text-grey-light">
              select new avatar
            </span>
          </span>
        </label>
      </div>
      <%= f.button :submit, 'Update avatar', class: 'button is-base' %>
    <% end %>
  </div>
  <button id="avatar-modal-close" class="modal-close is-large" aria-label="close"></button>
</div>
<div id="cover-modal" class="modal">
  <div id="cover-modal-background" class="modal-background"></div>
  <div class="modal-content cover-edit-form">
    <h1 class="title is-3">Update Cover Picture</h1>

    <%= simple_form_for @user, url: update_cover_path do |f| %>
      <div class="cover-picture">
        <% if @user.cover_picture.attached?  %>
          <%= image_tag @user.cover_picture, class: 'cover-image' %>
        <% else %>
          <%= image_tag 'https://images.freecreatives.com/wp-content/uploads/2017/01/m.jpg', class: 'cover-image' %>
        <% end %>
      </div>
      <div id="image-upload-js-4" class="file has-name">
        <label class="file-label">
          <%= f.file_field :cover_picture, class: 'file-input' %>
          <span class="file-cta">
            <span class="file-icon">
              <i class="fa fa-image"></i>
            </span>
            <span class="file-name has-text-grey-light">
              select new cover
            </span>
          </span>
        </label>
      </div>
      <%= f.button :submit, 'Update avatar', class: 'button is-base' %>
    <% end %>
  </div>
  <button id="cover-modal-close" class="modal-close is-large" aria-label="close"></button>
</div>
<div class= "column is-four-fifths">
  <div class='user-info-container'>
    <div class="cover-picture">
      <% if @user.cover_picture.attached?  %>
        <%= image_tag @user.cover_picture, class: 'cover-image' %>
      <% else %>
        <%= image_tag 'https://images.freecreatives.com/wp-content/uploads/2017/01/m.jpg', class: 'cover-image' %>
      <% end %>
      <% if current_user == @user %>
        <span id='show-cover-modal' class="image-link cover-button">Change Cover</span>
      <% end %>
    </div>
    <div class="profile-show-container">
      <div class="avatar">
        <%= render partial: 'user_image', locals: { user: @user } %>
        <% if current_user == @user %>
          <span id='show-avatar-modal' class="image-link">Edit</span>
        <% end %>
      </div>
      <div class="user-info">
        <div class="name"><%= @user.fullname %></div>
        <span class="username">@<%= @user.username %></span>
        <% if current_user != @user %>
          <div class="friend-status">
            <% if current_user.friend?(@user) %>
              <span>already friend's</span>
            <% elsif current_user.new_friend?(@user) %>
              <div class="friend-request-action">
                <%= link_to "Accept", confirm_friend_path(friend_id: @user.id), method: :post,class: 'button is-small is-base' %>
                <%= link_to "Decline", friendship_path(@user), method: :delete, class: 'button is-small is-out-base' %>
              </div>
            <% elsif current_user.pending_friend?(@user) %>
              <div class="friend-request-action">
                <%= link_to "Cancel Friend Request", friendship_path(@user), method: :delete, class: 'button is-small is-danger' %>
              </div>
            <% else %>
              <div class="friend-request-action">
                <%= link_to "Add Friend", friendships_path(user_id: current_user.id ,friend_id: @user.id), method: :post, class: 'button is-small is-link' %>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="friend-status">
            <div class="friend-request-action">
              <%= link_to "Edit Profile", edit_user_registration_path, class: 'button is-small is-link' %>
            </div>
          </div>
        <% end %>
      </div>
      <% if @user != current_user %>
        <%= link_to 'Send Message', intialize_room_path(@user), class:'button is-small is-link' %>
      <% end %>
    </div>
  </div>
  <div class="columns is-centered">
    <div class="timeline-container column is-four-fifths">
      <div class="columns">
        <div class="column <%= 'is-two-fifths' if @user == current_user %>">
          <div class="box profile-intro">
            <h1 class="title is-2"><i class="fas fa-globe-americas"></i> Intro</h1>
            <p><i class="fas fa-briefcase"></i> <%= @user.profession %></p>
            <p><i class="fas fa-map-marker-alt"></i> From, <a href="https://www.google.com/search?q=<%= @user.city %>" target='_blank'><%= @user.city %></a></p>
            <p><i class="fas fa-book"></i> <%= @user.bio %></p>
          </div>
        </div>
        <% if user_signed_in? && @user == current_user %>
          <div class="column is-three-fifths">
            <div class="post-form">
              <%= simple_form_for @post do |f| %>
                <%= f.text_area :text, label: 'name', placeholder: 'what\'s in your mind?', class:"textarea post-area" %>
                <div id="image-upload-js" class="file has-name">
                  <label class="file-label">
                    <%= f.file_field :image, class: 'file-input' %>
                    <span class="file-cta">
                      <span class="file-icon">
                        <i class="fa fa-image"></i>
                      </span>
                      <span class="file-name has-text-grey-light">
                        No file uploaded
                      </span>
                    </span>
                  </label>
                </div>
                <%= f.button :submit, 'Post' ,class: 'button is-medium btn-base' %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="posts-container">
        <% if @posts.empty? %>
          <p class="note">There is no posts, availble here.</p>
        <% end %>
        <% @posts.each do |post| %>
          <div id="post-<%= post.id %>" class="box">
            <div class="poster-identifier">
              <div class="poster-info">
                <%= link_to user_path(@user) do %>
                  <div class="image-wrapper">
                    <%= render partial: 'user_image', locals: { user: @user } %>
                  </div>
                <% end %>
                <div class="post-data">
                  <%= link_to user_path(@user), class: "has-text-black underline" do %>
                    <span class="name"><%= @user.fullname %></span>
                  <% end %>
                  <span class="username">@<%= @user.username %></span>
                  <span class="date">
                    <%= time_ago_in_words(post.created_at) %>
                  </span>
                </div>
              </div>
              <% if current_user == post.user %>
                <div class="post-actions">
                  <div class="dropdown">
                    <div class="dropdown-trigger">
                      <a class="post-action-container"><i class="fas fa-ellipsis-v"></i></a>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                      <div class="dropdown-content post-action-menu">
                      <%= link_to  "Edit", edit_post_path(post), class: "dropdown-item" %>
                      <%= link_to  "Delete", post_path(post), method: :delete, class: "dropdown-item" %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>

            <div class="post-text">
              <%= post.text %>
            </div>

            <% if post.image.attached? %>
              <div class="post-image">
                <%= image_tag post.image %>
              </div>
            <% end %>

            <div class="reaction-container">
              <% if user_signed_in? %>
                <div class="likes">
                  <span class="<% if post.liked(current_user) %><%= 'has-text-base' %><% end %>"><%= post.likes %></span>
                  <%= link_to post_like_action_path(post), method: :post do %>
                    <i class="fas fa-thumbs-up <% if post.liked(current_user) %><%= 'has-text-base' %><% end %>"></i>
                  <% end %>
                </div>
                <div class="dislikes">
                  <span class="<% if post.disliked(current_user) %><%= 'has-text-base' %><% end %>"><%= post.dislikes %></span>

                  <%= link_to post_dislike_action_path(post), method: :post do %>
                    <i class="fas fa-thumbs-down <% if post.disliked(current_user) %><%= 'has-text-base' %><% end %>"></i> 
                  <% end %>
                </div>
              <% end %>
              <div class="comments">
                <span><%= post.comments.length %></span> 
                <% if post.comments.length == 1  %>
                  Comment
                <% else %>
                  Comments
                <% end %>
              </div>
            </div>

            <div class="comments-container">
              <% post.comments.each do |comment| %>
                <%= render partial: 'comments/comment', locals: { post: post, comment: comment } %>
              <% end %>
            </div>

            <% if user_signed_in? %>
              <div class="comment-form">
                <div class="comment-avatar">
                  <%= render partial: 'user_image', locals: { user: current_user } %>
                </div>
                <%= simple_form_for current_user.comments.new, url: post_comments_path(post) do |f| %>
                  <%= f.text_area :text, placeholder: 'what\'s in your mind?', class: "textarea"%>
                  <%= f.button :submit, 'Comment', class: 'button is-success is-small' %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
