<div id="user-id" data-user-id="<%= current_user.id %>"></div>
<div id="room-id" data-room-id="<%= @room.try(:id) %>"></div>

<div class="rooms-page">
  <div class="rooms-shower">
    <% @rooms.each do |room| %>
      <% user = room.side_user(current_user) %>
      <%= link_to room do%>
        <div class="room-linker <%= 'active' if room == @room %>">
          <div class="user-image">
            <% if user.avatar.attached? %>
              <%= image_tag user.avatar, class: 'profile-image'%>
            <% else %>
              <%= image_tag 'male_profile_pic', class: 'profile-image' %>
            <% end %>
          </div>
          <div class="body">
            <span class="name"><%= user.fullname %></span>
            <span class="username">@<%= user.username %></span>
          </div>
        </div>
      <% end %>
    <% end %> 
  </div>
  <div class="messages-container">
    <% if @room.present? %>
      <div class="messages-header">
        <div class="user-image">
          <% if current_user.avatar.attached? %>
            <%= image_tag current_user.avatar, class: 'profile-image' %>
          <% else %>
            <%= image_tag 'male-profile-pic', class: 'profile-image' %>
          <% end %>
        </div>
        <div class="user-name">
          <div class="name"><%= current_user.fullname %></div>
          <span>Active 30m ago</span>
        </div>
      </div>
      <div id="messages" class="messages-body">
        <% @room.messages.each do |msg| %>
          <div class="wrapper <%= 'me' if current_user == msg.user %>">
            <div class="message">
              <%= msg.body %>
            </div>
            <div class="date">
              <%= time_ago_in_words(msg.created_at) %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="chat-box">
        <%= render 'messages/form', message: Message.new, room: @room %>
      </div>
    <% else %>
      <span class="message-notification">Please click on a room, to start a discussing, otherwise if the left side bar is empty go to a user profile that you want to talk to, and say 'hello'</span>
    <% end %>
  </div>
</div>