<div class="rooms-page">
  <div class="rooms-shower">
    <% @rooms.each do |room| %>
      <% user = room.side_user(current_user) %>
      <%= link_to room do%>
        <div id="room-<%= room.id %>" class="room-linker <%= 'active' if room == @room %>">
          <div class="user-image">
            <%= render partial: 'user_image', locals: { user: user } %>
          </div>
          <div class="body">
            <span class="name"><%= user.fullname %></span>
            <span class="username">@<%= user.username %></span>
          </div>
          <% if room.messages.last.user_id != current_user.id && room.messages.last.unread %>
            <div class="message-notice"></div>
          <% end %>
        </div>
      <% end %>
    <% end %> 
  </div>
  <div class="messages-container">
    <% if @room.present? %>
      <div class="messages-header">
        <div class="user-image">
          <%= render partial: 'user_image', locals: { user: current_user } %>
        </div>
        <div class="user-name">
          <div class="name"><%= current_user.fullname %></div>
          <span>Active 30m ago</span>
        </div>
      </div>
      <div id="messages" class="messages-body">
        <% @room.messages.each_with_index do |msg, index| %>
          <% unless msg.body == "nil" %>
            <% if index == @message_number %>
              <hr class="red-hr" />
            <% end %>
            <div class="wrapper <%= 'me' if current_user == msg.user %>">
              <div class="message">
                <%= msg.body %>
              </div>
              <div class="date">
                <%= time_ago_in_words(msg.created_at) %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="chat-box">
        <%= render 'messages/form', message: Message.new, room: @room %>
      </div>
    <% else %>
      <span class="message-notification">Please click on a room, to start a discussing, otherwise if the left side bar is empty go to a user profile that you want to talk to, and say 'hello'</span>
    <% end %>
  </div>
</div>