<main class="main-container">
  <div class="columns column-style">
    <div class="column is-one-quarter has-text-centered">
      <% if user_signed_in? %>
        <div class="profile-container">
          <% if current_user.avatar.attached?  %>
            <%= image_tag current_user.avatar, class: 'profile-image' %>
          <% end %>
          <%= link_to 'Edit', new_avatar_path, class: 'image-link' %>
        </div>
      <% end %>
    </div>
    <div class="column is-half">
      <div class="timeline-container">
        <h1 class="title is-2 has-text-base has-text-centered"> Home </h1>
        <div class="post-form">
          <%= simple_form_for @post do |f| %>
            <%= f.text_area :text, label: 'name', placeholder: 'what\'s in your mind?', class:"textarea post-area" %>
            <div class="file has-name">
              <label class="file-label">
                <%= f.file_field :image, class: 'file-input' %>
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fa fa-image"></i>
                  </span>
                </span>
              </label>
            </div>
            <%= f.button :submit, 'Post' ,class: 'button is-medium btn-base' %>
          <% end %>
        </div>

        <div class="posts-container">
          <% @posts.each do |post| %>
            <div class="box">
              <%#=  FIX: wrap this inside a link tag that will direct the user to profile owner page %> 
              <div class="poster-identifier">
                <div class="poster-info">
                  <div class="image-wrapper">
                    <% if post.user.avatar.attached?  %>
                      <%= image_tag post.user.avatar, class: 'profile-image' %>
                    <% else %>
                      <%#=  FIX: this should be fixed to select images based on gender %> 
                      <%= image_tag('male_profile_pic.jpg', class: 'profile-image') %>
                    <% end %>
                  </div>
                  <div class="post-data">
                    <span class="username">
                      <%= post.user.username %>
                    </span>
                    <span class="date">
                      <%= time_ago_in_words(post.created_at) %>
                    </span>
                  </div>
                </div>
                <div class="post-actions">
                  <div class="dropdown">
                    <div class="dropdown-trigger">
                      <a class="post-action-container"><i class="fas fa-ellipsis-v"></i></a>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                      <div class="dropdown-content post-action-menu">
                       <%= link_to  "Edit", edit_post_path(post), class: "dropdown-item" %>
                       <%= link_to  "Delete", post_path(post), method: :delete, class: "dropdown-item" %>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="post-text">
                <%= post.text %>
              </div>

              <% if post.image.attached? %>
                <div class="post-image">
                  <%= image_tag post.image %>
                </div>
              <% end %>

              <div class="reaction-container">
                <div class="likes">
                  <%# FIX: later we will bring those likes from the database %>
                  <span> 23 </span>
                  <a><i class="fas fa-thumbs-up"></i></a>
                </div>
                <div class="dislikes">
                  <span> 9 </span>
                  <a><i class="fas fa-thumbs-down"></i></a>
                </div>
                <div class="comments">
                  - <%= pluralize(post.comments.length, 'Comment') %>
                </div>
              </div>

              <div class="comment-form">
                <div class="comment-avatar">
                  <%= image_tag current_user.avatar, class: "profile-image" %>
                </div>
                <%= simple_form_for current_user.comments.new, url: post_comments_path(post) do |f| %>
                  <%= f.text_area :text, placeholder: 'what\'s in your mind?', class: "textarea"%>
                  <%= f.button :submit, 'Comment', class: 'button is-success is-small' %>
                <% end %>
              </div>

              <div class="comments-container">
                <% post.comments.each do |comment| %>
                  <div class="comment">
                    <div class="user-avatar">
                      <%= image_tag comment.user.avatar, class: 'profile-image' %>
                    </div>
                    <div class="comment-body">
                      <div class="flex">
                        <%# FIX: this should be changed to a link that get the user page %>
                        <span class='user-name'><%= comment.user.username %></span>
                        <%= comment.text %>
                      </div>
                    </div>
                  </div>
                  <div class="comment-action">
                    <a href="#"><i class="fa fa-trash"></i></a>
                    <span class="comment-date"><%= time_ago_in_words(comment.created_at) %>, ago</span>
                  </div>

                <% end %>
              </div>
            </div>
          <% end %>
          <script>
            const post_dropdowns = document.getElementsByClassName('dropdown-trigger');
            const dropdowns = document.getElementsByClassName('dropdown');

            const toggleMenu = (e) => {
              e.target.parentElement.parentElement.parentElement.classList.toggle('is-active');
              e.stopPropagation()
            }

            const hideMenu = (e) => {
              if(e.target.className.includes('post-action-container')) {
              }else {    
                Array.prototype.slice.call(dropdowns).forEach(item => {
                    item.classList.remove('is-active');
                })
              }
            }

            Array.prototype.slice.call(post_dropdowns).forEach(item => {
              console.log(item)
              item.addEventListener('click', toggleMenu);
            });

            document.addEventListener('click', hideMenu);
          </script>
        </div>
      </div>
    </div>
    <div class="column is-one-quarter has-text-centered padding-rigth">
      <div class="box">
        <h2 class="title is-4 has-text-base"> About bookclone </h2>
        <span> 
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint, sequi. 
        </span>
    </div>
    </div>
  </div>
</main>

