<% if user_signed_in? && current_user.last_friend_requests.length > 0 %>
<div class= "box md-display-none">
  <h2 class="title is-5">New Friend Requests</h2>
  <div class="requests-container timeline-requests-container">
    <% current_user.last_friend_requests.each do |friend| %>
      <div class="request total-width">
        <%= link_to user_path(friend) do %>
          <div class="user-image">
            <%= render partial: 'user_image', locals: { user: friend } %>
          </div>
        <% end %>
        <div class="user-info">
          <span class="username">@<%= friend.username %></span>
          <div class="action">
            <%= link_to confirm_friend_path(friend_id: friend.id), method: :post do %>
              <i class="fas fa-check has-text-base"></i>
            <% end %>
            <%= link_to friendship_path(friend), method: :post, method: :delete do %>
              <i class="fas fa-times has-text-danger"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% end %>
<div class="box">
  <h2 class="title is-4 has-text-base"> About bookclone </h2>
  <span>
    This project was build by me <a href="https://www.linkedin.com/in/zakariaeelmejdki/" target='_blank'>Zakariae El Mejdki</a> and My partner <a href="https://www.linkedin.com/in/franco-rosa-79972119b/" target='_blank'>Franco Rosa</a> in order to improve our skills on web development, so we did clone facebook features in this project, if you have any new features that you want to suggest or have encounter some errors while using the app, please open an issue in <a href="https://github.com/elmejdki/bookclone/issues" target="_blank">this repository</a>
  </span>
</div>
