<% if user_signed_in? %>
  <div class="profile-container">
    <div class="text-center">
      <div class="avatar">
        <%= link_to user_path(current_user) do %>
          <%= render partial: 'user_image', locals: { user: current_user } %>
        <% end %>
      </div>
      <div class="username"><%= current_user.username %></div>
    </div>
    <div class="profile_links">
      <%= link_to root_path,class: 'feeds' do %>
        <i class="fas fa-home"></i>
        Feeds
      <% end %>
      <%= link_to friendships_path,class: 'friends' do %>
        <i class="fas fa-user-friends"></i>
        Friends
      <% end %>
      <%= link_to friend_requests_path,class: '' do %>
        <i class="fa fa-plus"></i>
        Friend Requests
      <% end %>
      <%= link_to rooms_path, class: 'messages' do %>
        <i class="fas fa-envelope"></i>
        Messages
        <span class="<%= @unread_messages.zero? ? 'd-non' : '' %>" id="new-messages"><%= @unread_messages %></span>
      <% end %>
    </div>
  </div>
<% end %>
