<% if user_signed_in? %>
  <div class="profile-container">
    <div class="avatar">
    <%= link_to user_path(current_user) do %>
      <% if current_user.avatar.attached?  %>
        <%= image_tag current_user.avatar, class: 'profile-image' %>
      <% else %>
        <%= image_tag 'male_profile_pic', class: 'profile-image' %>
      <% end %>
    <% end %>
    </div>
    <div class="username"><%= current_user.username %></div>
    <div class="profile_links">
      <%= link_to root_path,class: 'feeds' do %>
        <i class="fas fa-home"></i>
        Feeds
      <% end %>
      <%= link_to friendships_path,class: 'friends' do %>
        <i class="fas fa-user-friends"></i>
        Friends
      <% end %>
      <%= link_to friend_requests_path,class: 'messages' do %>
        <i class="fa fa-plus"></i>
        Friend Requests
      <% end %>
      <%= link_to rooms_path, class: 'messages' do %>
        <i class="fas fa-envelope"></i>
        Messages
        <span class="<%= @unread_messages.zero? ? 'd-non' : '' %>" id="new-messages"><%= @unread_messages %></span>
      <% end %>
    </div>
  </div>
<% end %>
