<% if user_signed_in? %>
  <div class="profile-container">
    <div class="avatar">
      <% if current_user.avatar.attached?  %>
        <%= image_tag current_user.avatar, class: 'profile-image' %>
      <% end %>
      <%= link_to 'Edit', new_avatar_path, class: 'image-link' %>
    </div>
    <div class="username"><%= current_user.username %></div>
    <div class="bio"><i class="fas fa-user"></i><%= current_user.bio ? current_user.bio : 'Proin non elit nunc. Vivamus ut risus odio. Suspendisse nec urna nec metus placerat egestas. Suspendisse sit amet maximus est. Integer at tellus justo. Pellentesque et luctus lectus. Nullam tempor vel est sollicitudin posuere. In lorem elit, tincidunt nec posuere in, condimentum volutpat magna.' %></div>
    <div class="profile_links">
      <%= link_to root_path,class: 'feeds' do %>
        <i class="fas fa-home"></i>
        Feeds
      <% end %>
      <%= link_to friendships_path,class: 'friends' do %>
        <i class="fas fa-user-friends"></i>
        Friends
      <% end %>
      <%= link_to friend_requests_path,class: 'messages' do %>
        <i class="fa fa-plus"></i>
        Friend Requests
      <% end %>
      <%= link_to root_path,class: 'messages' do %>
        <i class="fas fa-envelope"></i>
        Messages
      <% end %>
    </div>
  </div>
<% end %>
