<div class="columns is-centered column-style">
  <div class="column is-one-fifth mt">
  </div>
  <div class= "column is-full">
    <div class="timeline-container">
      <h1 class="title is-2 has-text-base has-text-centered"> Reviews </h1>
      <div class="review-container">
        <div class="about-app">
          <%= image_tag 'app-logo' %>
          <h3 class="subtitle is-6 has-text-grey">bookclone</h3>
          <h3 class="subtitle is-7 has-text-grey-light">Average rate: </h3>
        </div>
        <% if user_signed_in? %>
          <div class="review-form">
            <%= simple_form_for @review do |f| %>
              <%= f.text_area :text, label: 'name', placeholder: 'Please tell us about our app, to improve it.', class:"textarea post-area" %>
              <%= f.button :submit, 'Submit review' ,class: 'button is-medium btn-base' %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="posts-container">
        <% @reviews.each do |review| %>
          <div class="box">
            <div class="poster-identifier">
              <div class="poster-info">
                <%= link_to user_path(review.user), class: "has-text-black underline" do %>
                  <div class="image-wrapper">
                    <% if review.user.avatar.attached?  %>
                      <%= image_tag review.user.avatar, class: 'profile-image' %>
                    <% else %>
                      <%#=  FIX: this should be fixed to select images based on gender %> 
                      <%= image_tag('male_profile_pic.jpg', class: 'profile-image') %>
                    <% end %>
                  </div>
                <% end %>
                <div class="post-data">
                  <%= link_to user_path(review.user), class: "has-text-black underline" do %>
                    <span class="name"><%= review.user.fullname %></span>
                  <% end %>
                  <span class="username">@<%= review.user.username %></span>
                  <span class="date">
                    <%= time_ago_in_words(review.created_at) %>
                  </span>
                </div>
              </div>
            </div>
            <div class="post-text">
              <%= review.text %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="column is-one-fifth mt has-text-centered padding-rigth">
  </div>
</div>