<div class="columns is-centered column-style">
  <div class="column is-one-fifth mt">
  </div>
  <div class= "column is-three-fifths">
    <div class="timeline-container">
      <h1 class="title is-2 has-text-base has-text-centered has-text-success"> Reviews </h1>
      
      
      
      <div class="review-container">
        <div class="about-app">
          <%= image_tag 'app-logo' %>
          <h3 class="subtitle is-6 has-text-grey">bookclone</h3>
          <% unless @reviews.empty? %>
            <h3 class="subtitle is-7 has-text-grey-light"> Average rate : <%= '%1.1f' % @reviews.average(:rate) %> </h3>
          <% end %>
        </div>
        <% if user_signed_in? %>
          <div class="review-form">
            <%= simple_form_for @review do |f| %>
              <%= f.text_area :text, label: 'name', placeholder: 'Please tell us about our app, to improve it.', class:"textarea post-area" %>
              <div class="rating-button">
                <div class="rating">
                  <input type="radio" name="review[rate]" id="star1" value="5"><label for="star1"></label>
                  <input type="radio" name="review[rate]" id="star2" value="4"><label for="star2"></label>
                  <input type="radio" name="review[rate]" id="star3" value="3"><label for="star3"></label>
                  <input type="radio" name="review[rate]" id="star4" value="2"><label for="star4"></label>
                  <input type="radio" name="review[rate]" id="star5" value="1"><label for="star5"></label>
                </div>
                <%= f.button :submit, 'Submit review' ,class: 'button is-medium btn-base is-success' %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="posts-container">
        <% @reviews.each do |review| %>
          <div class="box review-quote">
            <div class="poster-identifier">
              <div class="poster-info">
                <%= link_to user_path(review.user), class: "has-text-black underline" do %>
                  <div class="image-wrapper">
                    <% if review.user.avatar.attached?  %>
                      <%= image_tag review.user.avatar, class: 'profile-image' %>
                    <% else %>
                      <%#=  FIX: this should be fixed to select images based on gender %> 
                      <%= image_tag('male_profile_pic.jpg', class: 'profile-image') %>
                    <% end %>
                  </div>
                <% end %>
                <div class="post-data">
                  <%= link_to user_path(review.user), class: "has-text-black underline" do %>
                    <span class="name"><%= review.user.fullname %></span>
                  <% end %>
                  <span class="username">@<%= review.user.username %></span>
                  <% review.rate.times do %>
                    <span><i class="fas fa-star has-text-grey-light"></i><span>
                  <% end %>
                  <span class="date">
                    <%= time_ago_in_words(review.created_at) %>
                  </span>
                </div>
              </div>
            </div>
            <div class="post-text">
              <%= review.text %>
            </div>
          <% if review.user == current_user %>
            <%= link_to  '<i class="fa fa-trash"></i>'.html_safe, review_path(review), method: :delete %>
          <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="column is-one-fifth mt has-text-centered padding-rigth">
  </div>
</div>

