<!DOCTYPE html>
<html>
  <head>
    <title>Bookclone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag 'application', 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="user-id" data-user-id="<%= current_user.try(:id) %>"></div>
    <% if current_user %>
      <div id='user-avatar' hidden='true'>
        <%= render partial: 'user_image', locals: { user: current_user } %>
      </div>
    <% end %>
    <div id="room-id" data-room-id="<%= @room.try(:id) %>"></div>
    <header>
      <% if notice %>
        <div class="has-background-primary notification">
          <button id="delete" class="delete"></button>
            <p class="has-text-white" ><%= notice %></p>
        </div>
      <% end %>

      <% if alert %>
        <div class="has-background-danger notification">
          <button id="delete" class="delete"></button>
            <p class="has-text-white" ><%= alert %></p>
        </div>
      <% end %>

      <nav class="nav-bar md-display-none">
        <div class="nav-bar-content">
          <a class="logo-container" href="/">
            <span class="nav-logo">
              <i class="fab fa-bimobject"></i>
            </span>
            <span class="logo-text">
              BookClone
            </span>
          </a>
          <% if user_signed_in? %>
            <%= link_to 'TimeLine', root_path, class: 'nav-bar-item shrink-non' %>
            <%= link_to 'New Members', users_path, class: 'nav-bar-item shrink-non' %>
            <%= link_to 'Messages', rooms_path, class: 'nav-bar-item shrink-non' + add_class, id:'message_menu' %>
          <% end %>
        </div>
        <% if user_signed_in? %>
          <div class="search-bar">
            <input type="text" class="input" placeholder="Search">
            <i class="fa fa-search"></i>
          </div>
        <% end %>
        <div class="shrink-non">
          <% if user_signed_in? %>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to 'Sign In', user_session_path, class: "sign-link" %>
            <%= link_to 'Sign Up', new_user_registration_path, class: "sign-link" %>
          <% end %>
        </div>
      </nav>

      <div class="menu display-none">
        <% if user_signed_in? %>
          <button class="nav-tgl" type="button" aria-label="toggle menu">
            <span aria-hidden="true"></span>
            <div id="message-circle" class="circle <%= @unread_messages.nil? || @unread_messages.zero? ? 'd-non' : '' %>"></div>
          </button>
          <nav class="nav">
            <ul>
              <li>
                <div class="profile text-center">
                  <div class="avatar">
                    <%= link_to user_path(current_user) do %>
                      <%= render partial: 'user_image', locals: { user: current_user } %>
                    <% end %>
                  </div>
                  <div class="name"><%= current_user.fullname %></div>
                  <div class="username">@<%= current_user.username %></div>
                </div>
              </li>
              <li>
                <%= link_to root_path do %>
                  <i class="fas fa-home"></i> Home
                <% end %>
              </li>
              <li>
                <%= link_to users_path do %>
                  <i class="fas fa-user-friends"></i>
                  New Members
                <% end %>
              </li>
              <li>
                <%= link_to friendships_path,class: 'friends' do %>
                  <i class="fas fa-user-friends"></i>
                  Friends
                <% end %>
              </li>
              <li>
                <%= link_to friend_requests_path,class: '' do %>
                  <i class="fa fa-plus"></i>
                  Friend Requests
                <% end %>
              </li>
              <li>
                <%= link_to rooms_path, class: 'messages' do %>
                  <i class="fas fa-envelope"></i>
                  Messages
                  <span class="<%= @unread_messages.nil? || @unread_messages.zero? ? 'd-non' : '' %>" id="new-messages-2"><%= @unread_messages %></span>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete  do %>
                  <i class="fas fa-sign-out-alt"></i>
                  Sign Out
                <% end %>
              </li>
              <li>
                <div class="search-bar">
                  <input type="text" class="input" placeholder="Search">
                  <i class="fa fa-search"></i>
                </div>
              </li>
            </ul>
          </nav>
        <% else %>
          <nav class="nav-bar">
            <div class="nav-bar-content">
              <a class="logo-container" href="/">
                <span class="nav-logo">
                  <i class="fab fa-bimobject"></i>
                </span>
                <span class="logo-text">
                  BookClone
                </span>
              </a>
            </div>
            <div class="shrink-non">
              <%= link_to 'Sign In', user_session_path, class: "sign-link" %>
              <%= link_to 'Sign Up', new_user_registration_path, class: "sign-link" %>
            </div>
          </nav>
        <% end %>
      </div>
    </header>

    <main class="main-container">
      <%= yield %>
    </main>
  </body>
</html>
