<!DOCTYPE html>
<html>
  <head>
    <title>Bookclone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag 'application', 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if notice %>
        <div class="has-background-primary notification">
          <button id="delete" class="delete"></button>
            <p class="has-text-white" ><%= notice %></p>
        </div>
      <% end %>

      <% if alert %>
        <div class="has-background-danger notification">
          <button id="delete" class="delete"></button>
            <p class="has-text-white" ><%= alert %></p>
        </div>
      <% end %>

      <nav class="nav-bar">
        <div class="nav-bar-content">
          <a class="logo-container" href="/">
            <span class="nav-logo">
              <i class="fab fa-bimobject"></i>
            </span>
            <span class="logo-text">
              BookClone
            </span>
          </a>
          <!-- FIX: these links need to be changed -->
          <%= link_to 'TimeLine', root_path, class: 'nav-bar-item' %>
          <%= link_to 'New Members', users_path, class: 'nav-bar-item' %>
          <%= link_to 'Messages', root_path, class: 'nav-bar-item' %>
        </div>
        <div class="search-bar">
          <input type="text" class="input" placeholder="Search">
          <i class="fa fa-search"></i>
        </div>
        <div>
          <% if user_signed_in? %>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to 'Sign In', user_session_path, class: "sign-link" %>
            <%= link_to 'Sign Up', new_user_registration_path, class: "sign-link" %>
          <% end %>
        </div>
      </nav>
    </header>

    <main class="main-container">
      <%= yield %>
    </main>
  </body>
</html>
